/* Your CSS styles here */
html{
    background-color: black;
}
.btn {
    background-color: brown;
    color: white;
    border: none;
  }
  .btnc {
    border-radius: 50px;
    background-color: rgb(30, 30, 30);
    padding-left: 10px;
    
  }
.btnp,.btne,.btns{
  background-color: yellow;
  color: black;
}
.atc{
    background-color: aqua;
}
  
  .p {
    color: white;
    border: none;
  }
  .numberCart{
    color: red;
    border: none;
  }
  .cart{
    position: fixed;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    right: -50px;
    padding:3px;
  }
  .cartImg{
    width: 20%;
    height: 20%;
    border: none;
    
  }
  .numberCart, .cartImg{
    margin: 0;
  }
  .calculator{
    display: flex;
    flex-direction:row;
  }
  .value-place{
    position: fixed;
    display: flex;
    flex-direction: row;
    right:50px;
    padding:3px;
    color:white
  }
  
  .value{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    color: aliceblue;
    justify-content: center;
  }

  .image{
    border-radius: 50%;
  }
  .score{
    display: flex;
    padding: 20px;
    color: white;
    background-color:#070f2b;
    border-color: #071f2A;
    padding: 0;
    border: 0;
    border-style: double;
  }
  .scores{
    display: flex;
    gap: 50px;
    color: white;
    border-style: none;
  }
  .game{
    border-style: double;
    align-self: center;
    justify-self: center;
  }

  .images{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 50%;
    border-style: double;
    border-width: 2px;
  }
  .newGame{
    background-color: blue !important;
    color: white;
    border-radius: 10px;
  }
  .newGame:hover{
    background-color: green !important;
    color: black;
    size: 200%;
  }

  .result{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .you{
    height: 50px;
    width: 50px;
  }

  .computer{
    height: 50px;
    width: 50px;
  }
  
  .calculator-body{
    border-color: antiquewhite;
    border-width: 10px solid green;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .help{
    position: fixed;
    right: 20px;
  }
  .help:hover{
    height:50px;
      width:50px
  }

  .hideItem{
    display:none;
  }
  .modal{
    background-color:white;
    position:fixed;
    right:50px;
    text-decoration: solid;
    font-weight: bolder;
    border-style: groove;
    background: #00b09b;
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #96c93d, #00b09b);
  }

  .make-sure{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: violet;
    border-style: double;
    border-width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: green;
    justify-content: center;
    color:black;
  }