.todo2{
    padding-top: 50px;
}

.delete{
    background-color:red;
    padding-left:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: white;
    border-color: aliceblue;
}
.value{

    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 8px 4px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    :hover{
        border-bottom-color: rgba(0,0,0,.87);
        background: #ececec;
    }
    :focus{
        border-color: #6200ee;
    }

}
.date{

}
.add{
    background-color: green;
    padding-left:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    color: white;
    border-color: aliceblue;
    cursor: pointer;
}
.date {
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color:#ffff;
    border-color: blue;
    cursor: not-allowed;
  }

.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 120px 80px;
    row-gap: 10px;
}

.disable-button{
    background-color: grey;
    color: white;
    cursor: not-allowed;
}